body {
    background-image:linear-gradient(turquoise, red)
}
#counted {
    border: 0px solid;
    display: block;
    font-size: xx-large;
    text-align: center;
}
#increase {
    border: 0px solid;
    font-size: x-large;
    text-align: center;
}
#decrease {
    border: 0px solid;
    font-size: x-large;
    text-align: center;
}
#reset {
    border: 0px solid;
    font-size: x-large;
    text-align: center;
}
.calcButtons {
    border: 0px solid;
    margin: 10px;
    font-size: xxx-large;
    width: 100px;
    text-align: center;
}
#calculateButton {
    border: 0px solid;
    margin: 10px;
    width: 225px;
    height: 60px;
}
.guessingLabel {
    border: 0px solid;
    margin: 10px;
    font-size: 20px;
}
.guessingInput {
    border: 0px solid;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.guessGameGuess {
    border: 0px solid;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: x-large;
    display: block;
}
